<h1>About NCS-bloccit4</h1>
<div class="bloccit4-wrapper">
<p>Created by: NCSkoglund<br/><br/>
A Reddit clone to teach the fundamentals of web development and Rails 4.<br/>  
Made with the assistance of a mentor at <a href="http://bloc.io">Bloc</a>.</p>
</div>
