<br/>
<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row welcome">
  <div class="col-md-4">
    <h2>Illo mollitia est nihil</h2>
    <p>Fuga voluptatem autem cumque necessitatibus rem. Inventore voluptatem suscipit perspiciatis iusto quia impedit. Qui officiis porro et corporis voluptatem ab neque. Maiores maxime consequatur cumque dolores.</p>
  </div>
  <div class="col-md-4">
    <h2>Rerum aliquid nisi</h2>
    <p>Maiores maxime consequatur cumque dolores. Fuga voluptatem autem cumque necessitatibus rem. Inventore voluptatem suscipit perspiciatis iusto quia impedit. Qui officiis porro et corporis voluptatem ab neque. </p>
  </div>
  <div class="col-md-4">
    <h2>Tempore sit commodi</h2>
    <p>Qui officiis porro et corporis voluptatem ab neque. Fuga voluptatem autem cumque necessitatibus rem. Inventore voluptatem suscipit perspiciatis iusto quia impedit. Maiores maxime consequatur cumque dolores.</p>
  </div>
</div>
